body {
	margin: 0;
	
	background-image: url('image/moon_background.jpg'); 
	background-repeat: no-repeat;
	background-position: center;
	line-height: 40px;
	background-attachment: fixed;
	background-size: cover;
}

header {
	margin-top: 80px;
	margin-left: 100px;
	
}


.nav-container {
	display: flex;
	flex-direction: row;
	
	
	box-sizing: border-box;
	width: 100%;
	height: 30%;
	
	margin: 0;
	padding: 20;
	background-color:#00ff0000;
	list-style-type: none;
	
	
	
}

.nav-item{
	padding: 30px;
	cursor: pointer;
	font-weight: normal;
	font-family: 'Song Myung', serif;
	font-size: 40px;
	
}
.nav-item a{
	text-align: center;
	color: white;
	text-decoration: none;
}

.github_icon {
	
	background-image: url('image/github_icon.svg');

	background-size: 24px;
	background-repeat: no-repeat;
	background-position: left center;
}
.velog_icon {
	
	background-image: url('image/velog_icon.svg');

	background-size: 24px;
	background-repeat: no-repeat;
	background-position: left center;
}


.insta_icon {
	
	background-image: url('image/insta_icon.svg');

	background-size: 24px;
	background-repeat: no-repeat;
	background-position: left center;
}
.nav-item:hover{
	background-color: rgb(255,255,255,0.2);
}

.section-container {
	margin-left: 20px;
	height: 50px;
	padding: 10px;
	text-align: middle;
	border-width: 0px;
	
}

.name{
	font-size: 35px;
	font-weight: bold;
	color: rgb(255, 255, 255, 0.9);
}


h1{
	font-size: 80px;
	font-weight: normal;
	font-family: 'Song Myung', serif;
	color: rgb(255, 255, 255, 0.8);
	line-height: 1.5;
}

li {
	padding-left:50px;
	border: 10px;
}

section {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: rgb(255, 255, 255, 0.8);
	
	background-color: black;
}
